<h2 id="title">ember-svg-pie</h2>

<p>
  <a href="https://github.com/lolmaus/ember-svg-pie/">lolmaus/ember-svg-pie</a>
</p>

{{svg-pie
  data=(array
    (hash value=90  color="red")
    (hash value=60  color="yellow")
    (hash value=180 color="green")
  )
  total=360
}}

<pre>
&#123;&#123;svg-pie
  data=(array
    (hash value=90  color="red")
    (hash value=60  color="yellow")
    (hash value=180 color="green")
  )
  total=360
}}
</pre>

<hr>

{{svg-pie
  data=(array
    (hash value=30   class="foo")
    (hash value=12.5 class="bar")
    (hash value=12.5 class="baz")
    (hash value=30   class="quux")
  )
  size=150
  stroke="black"
  strokeWidth=10
}}

<style>
  .foo  { fill: deeppink; }
  .bar  { fill: lightpink; }
  .baz  { fill: hotpink; }
  .quux { fill: lightsalmon; }
</style>

<pre>
&#123;&#123;svg-pie
  data=(array
    (hash value=30   class="foo")
    (hash value=12.5 class="bar")
    (hash value=12.5 class="baz")
    (hash value=30   class="quux")
  )
  size=150
  stroke="black"
  strokeWidth=10
}}

&lt;style>
  .foo  { fill: deeppink; }
  .bar  { fill: lightpink; }
  .baz  { fill: hotpink; }
  .quux { fill: lightsalmon; }
&lt;/style>
</pre>

<hr>

<div class="zomg">
  {{svg-pie
    data=(hash value=10 color="deepskyblue")
    total=18
  }}
</div>

<style>
  .zomg {
    position: relative;
    display:  table;
  }
  .zomg:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    height: 75%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: white;
  }
  .zomg svg {
    display: block;
  }
</style>

<pre>
&#123;&#123;svg-pie
  data=(hash value=10 color="deepskyblue")
  total=18
  class="zomg"
}}

&lt;style>
  .zomg {
    position: relative;
    display:  table;
  }
  .zomg:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    height: 75%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: white;
  }
  .zomg svg {
    display: block;
  }
&lt;/style>
</pre>
